.custom-textarea-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-textarea-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-textarea-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-gray-200);
  border-radius: 9999px;
}

.custom-textarea-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-gray-200) transparent;
}
