@keyframes slideUpFade {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  12% {
    transform: translateY(0);
    opacity: 1;
  }
  88% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.animate-word-slide {
  animation: slideUpFade 3s forwards ease-in-out;
}

@keyframes bounceSlow {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-slow {
  animation: bounceSlow 2.5s infinite ease-in-out;
}
